:root {
  --font-mazius: "Mazius";
  --font-gilory: "Gilory";
  --font-gilory-extra: "Gilory-extra";
  --secondary-color: #ff6a00;
  --primary-color: #111;
  --bg-color: #dadada;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gilory";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main_a {
  width: 100%;
}

#main_a > #loader {
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  color: white;
  z-index: 9999;
}

#loader > #loader_heading {
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

#loader > #loader_heading > h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

#loader > h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
}

#mazius {
  font-family: var(--font-mazius);
  color: var(--secondary-color);
}

.reveal > .parent {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow-y: hidden;
}

.reveal > .parent > .child {
  display: block;
  transform: translateY(0%);
}

.parent > .child > span {
  display: inline-block;
}

#main_a > #green {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0vh;
  background: #14cf93;
  z-index: 999;
}

#home {
  width: 100%;
  height: 150vh;
  position: relative;
  background: var(--bg-color);
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  width: 100%;
  height: 100px;
}

#nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  color: #000;
  position: relative;
}

#nav > a > .line {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 1px;
  background: #000;
}
#line1 {
  left: 0;
  width: 0%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition-delay: 0.1s;
}
#line2 {
  width: 100%;
  right: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#nav > a:hover > #line1 {
  width: 100%;
}

#nav > a:hover > #line2 {
  width: 0%;
}

.row {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  padding: 0 7vw;
  line-height: 1.2;
  padding-right: 12vw;
}

.row > h2 {
  font-size: 13vw;
  font-weight: 800;
}
.row > .text {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row > .text > #message {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.row > .text > #message > .name {
  font-family: var(--font-gilory-extra);
  font-weight: 200;
  margin-bottom: 5px;
}


.text > h5 {
  margin-bottom: 8px;
}
.row > .text > h5 {
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

#picture {
  border-radius: 50%;
  height: 66px;
  width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#picture > img {
  height: 100%;
  width: 100%;
}

#tech {
  font-size: 11vw;
  font-family: var(--font-mazius);
  color: var(--secondary-color);
  margin: 0 4vw;
}

.row:nth-child(3) {
  margin-top: 0;
}

#rocket {
 padding: 2vw;
 border-radius: 50%;
}

#rocket > img {
  width: 100px;
  height: 100px;
}
