:root {
  --font-mazius: "Mazius";
  --font-gilory: "Gilory";
  --font-gilory-extra: "Gilory-extra";
  --secondary-color: #fe6a00;
  --primary-color: #eee;
  --bg-color: #333;
  --text-color: #fff;
}

#about {
  margin-top: 14vw;
  width: 100%;
  padding: 0 7vw;
  z-index: 0;
  position: relative;
}

#about_left > h2 {
  font-size: 3vw;
  margin-bottom: 3vw;
}

#about > div {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about_left {
  mix-blend-mode: exclusion;
  width: 35%;
  height: auto;
  z-index: 99999;
  position: relative;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#00000031 4px, transparent 4px),
    linear-gradient(to right, #00000031 4px, transparent 4px);
  background-size: 50px 50px;
  background-color: rgba(71, 212, 255, 0);
}


#about_left > p {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.8vw;
  color: #eee;
}

#about_left > p > span {
  color: var(--secondary-color);
  font-family: var(--font-mazius);
  font-weight: 100;
  font-style: italic;
  text-transform: capitalize;
}

#about_right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60%;
  height: auto;
  height: 100%;
  margin-right: -4vw;
}

#about_right > .images {
  position: absolute;
  width: 20vw;
  height: 25vw;
  border-radius: 1vw;
  filter: grayscale();
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}

#about_right > .images:hover {
  filter: grayscale(0);
}

#about_right > .images:nth-child(1) {
  transform: translate(-40%, -8%) rotate(-20deg);
  z-index: 0;
  background-image: url(https://ik.imagekit.io/fahdahsayni/arkx/abooutImage2.jpg?updatedAt=1697454071111);
  background-size: cover;
  background-position: center;
}
#about_right > .images:nth-child(2) {
  transform: translate(-15%, 0%) rotate(-15deg);
  z-index: 0;
  background-image: url(https://ik.imagekit.io/fahdahsayni/arkx/aboutImage1.jpg?updatedAt=1697454071276);
  background-size: cover;
  background-position: center;
}
#about_right > .images:nth-child(3) {
  transform: translate(20%, 10%) rotate(-5deg);
  z-index: 0;
  background-image: url(https://ik.imagekit.io/fahdahsayni/arkx/aboutIamge3.jpg?updatedAt=1697454071167);
  background-size: cover;
  background-position: center;
}
