#partners {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  top: 20vw;
  height: 50vh;
}

.splide {
  position: relative;
  width: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.splide .splide__track ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  background: #dadada;
  border-radius: .5vw;
  border: 1px solid #000;
  padding: .5vw 3vw;
}
.splide .splide__track ul li img {
  width: 100%;
  height: auto;
}
.splide {
  margin-top: 2vw;
  rotate: -2deg;
}
